.loading {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.spinner-border {
    margin-bottom: 10px;
}