
.profile {
    margin: 10px;
    background-color: rgb(37, 37, 37);
    color: white;
    width: 209px;
}

.profile:hover {
    background-color: #e62429;
    border: 10px solid white;
    transition: color .3s;
}

.info-wrapper {
    padding: 20px;
}

.expand {
    transition: all .2s ease-in-out;
}

.profile.expand:hover {
    transform: scale(1.0);
}

.profile a {
    text-decoration: none;
    color: white !important;
}

.profile a:hover {
    color: white !important; 
    text-decoration: none !important;
}

img {
    width: 100%;
    height: 250px;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 0.5rem;
}